<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="ion-text-center">Pickup & Delivery<ion-icon name="help-outline"></ion-icon></h1>

  <ion-card>
    <ion-card-title class="ion-text-justify">Do you pickup & deliver?</ion-card-title>
    <h2 class="ion-text-justify">Yes we now offer pickup and delivery service for Wash & Fold and Dry Cleaning.</h2>
  </ion-card>

  
  <ion-card>
    <ion-card-title class="ion-text-justify">Is there a pickup or delivery fee?</ion-card-title>
    <h2 class="ion-text-justify">Yes the pickup and delivery fee is five ringgit. Pickup and delivery was free until high gas prices in 2022 forced us to charge.</h2>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-text-justify">Do I separate laundry from dry cleaning?</ion-card-title>
    <h2 class="ion-text-justify">Yes, please place laundry and dry cleaning in separate, clearly labeled bags.</h2>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-text-justify">Do I have to be home when you pickup or deliver my clothes?</ion-card-title>
    <h2 class="ion-text-justify">No, however when placing your order please provide clear instructions where we can find your clothes and drop them off. Please also provide any access codes necessary to enter your apartment or condo building.</h2>
  </ion-card>

  <ion-card>
    <ion-card-title class="ion-text-justify">How will I be billed for online orders?</ion-card-title>
    <h2 class="ion-text-justify">When the order is completed, we bill your credit card and email you an invoice.</h2>
  </ion-card>


</ion-content>
