h1{
    font-size: 19px;
    color: black;
    border-top-style: inherit;
    border-radius: 8px;
    background-color: rgb(115, 192, 255);
    height: 30px;

}
ion-card{
    background-color: rgb(147, 201, 226);
    height: 185px;
    padding-top: 20px;

}
ion-card-title{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
    font-size: 12px;
    color: rgb(27, 27, 27);
}