ion-card{
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(247, 181, 238);
}
ion-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    

}