<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Laundry Tools</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Washing Machine</h1>
  <ion-card>
    <img src="../../assets/machine.jpg" class="logo" />
  </ion-card>

  <h1>Dry Cleaning</h1>
  <ion-card>
    <img src="../../assets/dry.jpg" class="logo" />
  </ion-card>

  <h1>Iron</h1>
  <ion-card>
    <img src="../../assets/iron.jpg" class="logo" />
  </ion-card>
</ion-content>
