<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <h2 class="ion-text-center">Home Dilevery</h2>
  <ion-card>
    <video 
            width="100%"
            controls="controls"
            preload="metadata"
            webkit-playsinline="webkit-playsinline"
            class="videoPlayer">
            <source src="assets/video.mp4" type="video/mp4"/>
            </video>
  </ion-card>

</ion-content>
