<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="ion-text-justify">
   <ion-card>
     <h2 class="ion-text-center"><b>New user? First Wash Free!!</b></h2>
     <h3>"Oh You're new User? Order & get your first washing up to 3 cloths are free. You need to register."</h3>
   </ion-card>
   <ion-button [routerLink]="['/selectclothes']" >Order Now!</ion-button>
</ion-content>